CONFIG_DEBUG_INFO_NONE=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_INPUT_EVDEV=y
CONFIG_LTO_CLANG_THIN=y
CONFIG_NET_SCH_FQ=y
CONFIG_NFT_FIB_INET=m
CONFIG_PM_DEBUG=y
CONFIG_QCOM_LMH=y
CONFIG_TCP_CONG_BBR=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_WATCHDOG_PRETIMEOUT_DEFAULT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV_PANIC=y
CONFIG_WATCHDOG_PRETIMEOUT_GOV=y
CONFIG_WATCHDOG_SYSFS=y
